* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

header {
    display: flex;
    justify-content: center;
}

.logo_table {
    width: 280px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 800px;
}
.formulario {
    width: 840px;
    outline: 2px solid #000000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo {
    text-align: center;
}

.titulo h2 {
    color: #FFA52E;
    font-size: 4.5rem;
}

.titulo h3 {
    color: #9e5a02;
}

.form-top {
    width: 100%;
    background-color: #FFA52E;
    padding: 24px 0;
    text-align: center;
    border-radius: 12px 12px 0 0;

    & h2 {
        color: #ffffff;
        font-size: 2rem;
    }

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.input-group input {
    width: 80%;
    margin-bottom: 20px;
    padding: 12px 12px 12px 40px;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 16px;
}

.input-group img {
    width: 40px;
    height: 40px;
}

button {
    width: 25%;
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

}