* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body,
html {
    height: auto;
    min-height: 100%;
}

body {
    background-color: #DDDDDD;
    font-family: "Instrument Sans", sans-serif;
    display: flex;
}

/* ========================= Aside ========================= */
aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 90px;
    padding: 48px 12px;
    background-color: #1C1C1C;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;
    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

nav li {
    padding: 16px 18px;
    text-align: center;
    border-radius: 10px;
}

nav li a {
    color: #ffffff;
}

nav li.active {
    background-color: #D58A33;
}

/* ========================= Conteudo principal ========================= */
main {
    padding: 48px;
    margin-left: 90px;
    height: auto;
    min-height: 100vh;
    width: calc(100% - 90px);
    display: flex;
    flex-direction: column;
}

/* ========================= Topo da página ========================= */
.tabletrack-topo {
    margin-bottom: 100px;
}

.tabletrack-topo h3 {
    font-size: 24px;
    color: #D58A33;
    font-weight: 700;
    margin-bottom: 4px;
}

.tabletrack-topo h2 {
    font-size: 32px;
    color: #000;
    font-weight: 400;
}


/* ========================= Modal ========================= */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 24px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    & .input-group input,
    .input-group select {
        border: 1px solid #000;
    }
}

.modal-content-topo {
    display: flex;
    align-items: center;
    gap: 32px;

    & .tabletrack-topo {
        margin-bottom: 0px;
    }
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #888;

}


/* ========================= Formulário ========================= */

.forms-padrao {
    display: flex;
    gap: 32px;
    align-items: center;
}

.formulario-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group label {
    color: #D58A33;
    margin-left: 3px;
    margin-bottom: 4px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.input-group input,
.input-group select {
    width: 320px;
    padding: 12px 16px;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 16px;
}

.input-group .botao-login {
    background-color: orange;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.upload-input {
    display: none;
}

.upload-label {
    padding: 12px 36px;
    background-color: #DDDDDD;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.upload-label:hover {
    background-color: #D58A33;
    color: #fff;
}

/* ========================= Menu de navegação Mobile ========================= */
.nav-mobile {
    display: none;
}

/* ========================= Responsividade para telas de até 838px ========================= */
@media (max-width: 838px) {
    main {
        padding: 32px 16px;
        width: 100vw;
    }

    .tabletrack-topo {
        margin-bottom: 60px;
    }

    .tabletrack-topo h2 {
        font-size: 24px;
    }

    .tabletrack-topo h3 {
        font-size: 20px;
    }
}

/* ========================= Responsividade para telas de até 838px ========================= */
@media (max-width: 772px) {
    aside {
        display: none;
    }

    main {
        margin-left: 0;
        width: 100%;
        height: fit-content;
        padding: 32px 16px 80px 16px;
    }

    .nav-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #1C1C1C;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-mobile ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-mobile ul li.active {
        background-color: transparent;
        border-bottom: 3px solid #D58A33;
        display: flex;
        align-items: center;
    }

    .nav-mobile ul li img {
        width: 24px;
        height: 24px;
    }

    .forms-padrao {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .input-group label {
        font-size: 12px;
    }

    .input-group input,
    .input-group select {
        width: 75vw;
        border: 2px solid #000;
        font-size: 12px;
    }

    .upload-label {
        font-size: 12px;
        padding: 7px 21px;
        gap: 4px;
    }

    #file-name {
        font-size: 12px;
    }

    .modal-content {
        padding: 24px 16px;
        gap: 12px;

        & .modal-content-topo {
            margin: 0 7%;
            gap: 16px;

        }

        #img-modal {
            width: 50px;
        }
    }

    #preview-img {
        width: 80px;
    }
}

@media (max-width:570px) {
    & .tabletrack-topo {

        & h2 {
            font-size: 16px;
        }

        & h3 {
            font-size: 12px;
        }

        & p {
            font-size: 12px;
        }
    }
}