<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Funcionário table track</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>

    <header>
        <img class="logo_table" src="{{ url_for('frontend.static', filename='images/tabletrack_logopreta.png') }}" alt="Logo Table track">
    </header>

    <main>

        <div class="titulo">
            <h2>Seja Bem-Vindo!</h2>
            <h3>Faça seu login para iniciar o serviço :) </h3>
        </div>
        <div class="formulario">
            <div class="form-top">
                <h2>Login</h2>
            </div>
            <form action="/login" method="post" class="login-container">
                {{ form.hidden_tag() }}

                <div class="input-group">
                    <img src="{{ url_for('static', filename='images/icon-user.svg') }}" alt="User">
                    {{form.email( placeholder="Email")}}
                </div>
                <div class="input-group">
                    <img src="{{ url_for('static', filename='images/icon-password.svg') }}" alt="Senha">
                    {{ form.senha(placeholder="Senha") }}
                </div>

                {{ form.submit(class="botao-login") }}


                <!--                 <div class="input-group">
                    <img src="../css/icon/icon-user.svg" alt="User">
                    <input type="text" placeholder="Email" name="email">
                </div>

                <div class="input-group">
                    <img src="../css/icon/icon-password.svg" alt="Senha">
                    <input type="password" placeholder="Senha" name="pwd">
                </div>

                <button>Entrar</button> -->
            </form>
        </div>



    </main>


</body>

</html>