body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

.container {
    margin: 80px auto;
    padding: 30px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    border: 3px solid orange;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    color: orange;
}

.opcoes {
    margin: 20px 0;
}

.opcao {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 15px;
    border: none;
    background-color: #ffe0b2;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.opcao.selecionada {
    background-color: #ff9800;
    color: white;
}

#enviarBtn {
    padding: 12px 25px;
    background-color: orange;
    color: white;
    border: 2px solid #03a9f4;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
